@import '../../css/colors.scss';

.missionStatementArea{
    padding: 0px 0px 100px;
    background-color: color(blbackground);
    .statementImageWrap{
        margin: 0px 20px 0px 20px;
        position: relative;
        z-index: 1;
        @media (max-width:768px) {
            margin-bottom: 40px;
            margin-right: 0;
        }
        img{
            @media (max-width:768px) {
                width: 100%;
            }
        }
        &::before{
            content: "";
            background-color: color(blgold);
            width: 100%;
            height: 100%;
            position: absolute;
            left: -10px;
            top: -10px;
            z-index: -1;
        }
        i{
            border: 1px solid #fff;
            height: 55px;
            width: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
            transition: all .3s;
            &:hover{
                background: #d4c291;
            }
        }
    }


    .statementTitle{
        text-align: center;
        margin-bottom: 40px;
        
        p{
            font-size: 16px;
            color: color(blgold);
            margin: 0;
        }
         h2 {
            font-size: 36px;
            color: #1a1a1a;
            position: relative; // Needed for the underline
            display: inline-block; // So underline matches text width

            &::after {
                content: "";
                display: block;
                margin: 16px auto 0 auto;
                width: 80px;
                height: 3px;
                background: color(blgold); // gold color
                border-radius: 3px;
            }

            @media (max-width:768px) {
                font-size: 28px;
                &::after {
                    width: 50px;
                    height: 3px;
                }
            }
        }
    }

    .statementContent{
        span{
            font-size: 16px;
            color: #ada282;
            display: block;
        }
        h2{
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 30px;
            font-size: 15px;
            @media (max-width:1200px) {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
        .signature{
            margin-top: 35px;
        }
    }
    &.aboutAreaStyleTwo{
        padding: 100px 0px;
        .aboutImageWrap{
            margin: 0px 10px 10px 0px;
            &::before{
                left: auto;
                right: -10px;
                top:auto;
                bottom: -10px;
            }
        }
        .aboutContent{
            @media (max-width:800px) {
                margin-bottom: 40px;
            }
            h2{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: -68px;
                    top: 19px;
                    width: 60px;
                    height: 1px;
                    background: #c0b596;
                }
            }
        }
    }
}