@import '../../../css/colors.scss';
.maincontainer {
    width: 100%;
    height: 100%;
    background-color: color(blblue);
    .banner {
        background-color: color(bldark);
        box-shadow: 0 6px 14px rgba(0,0,0,0.08);
        margin-bottom: 2rem;
        justify-content: center;

        h2 {
            font-family: sans-serif;
            font-weight: 400;
            font-size: 50px;
            color: color(blgold);
            padding: 1rem;
            text-align: center;
        }
    }

    .container {
        .faq-category{
            .space {
                height: 50px;
            }
        } 
        
        div {

            h3 {
                font-family: sans-serif;
                font-size: 40px;
                font-weight: 700;
                color: #1a1a1a;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 2px solid color(blprimary);
            }
           
            .faq-item {
                margin-bottom: 0px;
                border: 1px solid #e8e8e8;
                border-radius: 5px;
                overflow: hidden;
               
                .question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 20px 20px 20px;
                    background-color: color(bldark);
                    transition: background-color 0.3s ease;

                    

                    h4 {
                        font-family: sans-serif;
                        font-size: 20px;
                        font-weight: 300;
                        color: color(blgold);
                        margin: 0;
                        flex: 1;
                        &:hover {
                            color: color(blblue);
                        }
                    }      

                    .expand-icon {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-left: 15px;
                        position: relative;

                  
                        &::before {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            margin: 0 auto;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-top: 9px solid color(blgold);
                            transition: transform 0.25s ease;
                            transform-origin: center;
                        }

                        &.expanded::before {
                            transform: rotate(180deg);
                        }
                    }
                }

                .answer {
                    padding: 10px;
                    background-color: color(bltextbox);
                    border-top: 1px solid #e8e8e8;
                    animation: slideDown 0.3s ease;

                    p {
                        font-size: 18px;
                        line-height: 1.8;
                        color: #555;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;

        .banner h2 {
            font-size: 32px;
        }

        .content {
            div h3 {
                font-size: 22px;
            }

            .faq-item {
                .question {
                    flex-direction: column;
                    align-items: flex-start;

                    h4 {
                        margin-bottom: 10px;
                    }

                    .expand-icon {
                        align-self: flex-end;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
