@import '../../css/colors.scss';

.ourPartnersTitle{
    padding-bottom: 20px;

    /* Overriding the components styling*/
    .sectionTitle {
        margin: 0 !important;
        padding: 0 !important;
    }
}
.partnerSection{
    width: 100%;
    height: 150px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(bldark);
    
    h2 {
        text-align: center;
        vertical-align: middle;
        color: color(blgold);
    }
}