@import '../../css/colors.scss';

.cetagoryWrap{
    background: color(bltextbox);
    margin-bottom: 60px;
    h3{
        background: color(bldark);
        color: color(blgold);
        padding: 10px 20px 20px;
        position: relative;
        font-size: 26px;
        margin-bottom: 0;
        &::before{
            content: '';
            position: absolute;
            left: 30px;
            top: 100%;
            border: 15px solid transparent;
            border-top-width: 13px;
            border-top-color: color(bldark);
        }
    }
    ul{
        padding: 15px 30px 20px;
        li{
            border-bottom: 1px solid #ddd;
            &:last-child{
                border-bottom: none;
            }
            a{
                font-size: 16px;
                color: #333;
                display: block;
                padding: 15px 0 10px;
                transition: all .3s;
                &:hover{
                    color: #c0b596;
                }
            }
        }
    }
}