.contactusPageArea{
    border: 5px solid red;
    justify-content: center;

    .grid-container {
        border: 1px solid lightgray;
        display: grid;
        grid-template-columns: 15% auto;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 1rem;
        gap: 2rem;

        span{
            display: block;
        }

        .col-yearList {
            background-color: #dbe2fc;
            display: flex;
            justify-content: center;
            font-size: 40px;
            position: relative;
            padding-top: 0.5rem;
        }

        .col-yearList ul{
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0.5rem 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center; /* center 80% items */
            gap: 0.25rem;
        }

        /* make the regular year rows 80% width and centered */
        .col-yearList li{
            width: 80%;
            box-sizing: border-box;
            text-align: center;
            background: transparent;
            padding: 0.5rem 0;
            border-bottom: 1px solid #aab9f3;
            margin: 0; /* centered by parent align-items */
        }

        .col-yearList li a{
            display: block;
            width: 100%;
        }

        .col-yearList .yearItem{
            width: 100%; /* header spans full column */
            background-color: #aab9f3;
            position: relative;
            z-index: 2;
            font-weight: 600;
            padding: 0.6rem 0;
            margin-bottom: 0.6rem; /* space for arrow */
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        /* downward arrow under the yearItem (centered) */
        .col-yearList .yearItem::after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -12px; /* distance from bottom of .yearItem */
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid #aab9f3; /* same as .yearItem bg */
            z-index: 1;
        }
    }
    
    .col-yearList-yearList ul li {
      font-size: 35px;
       
    }
}