@import '../../css/colors.scss';
.consultContainer{
    width: 400px;
    height: 450px;
    z-index: 1050;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px color(bldark);
    border: 5px solid color(blgold);
    background-color: color(bldark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .consultTitle {
        font-family: sans-serif;
        text-align: center;
        padding: 1rem;
        h2 {
            color: color(bltextbox);
            font-size: 12px;
        }

        h5 {
            font-size: 22px;
            font-weight: bold;
            color: color(bltextbox);
        }
    }

    .consultFormInput{
        padding: 0.5rem 1rem 0 1rem;
        width: 100%;
        justify-content: stretch;
        
        input {
            padding: 0.25rem;
            width: 100%;
            box-sizing: border-box;
            border-radius: 0.5rem;
            &::placeholder {
                color: color(blgold); 
                opacity: 1; 
            }
        }

           select {
        padding: 0.25rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background-color: white;

        // When placeholder is selected, make text gold
        &:disabled {
            color: color(blgold);
        }
    }
    }


    .consultSubmitBtn{
        padding: 1rem 1rem 0 1rem;
        text-align: center;

        button {
            width: 40%;
            background-color: color(blgold);
            color: color(bldark);
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: color(bltextbox);
        }
    }

    .consultFooter{
        padding: 0 1rem 0 1rem;
        text-align: center;
        p {
            color: color(bltextbox);
            font-size: 10px;
        }
    }   
}



